<!-- 导航 -->
<launch>
    <!-- 启动机器人的控制节点 -->
    <node pkg="sebot_robot" type="sebot_controller" name="sebot_controller" respawn="true">
        <!-- 是否发布传感器话题 value：true发布 false不发布 -->
        <param name="ultraEnale"  type="bool" value="false"/>    <!-- 超声波使能 -->
        <param name="odomEnable"  type="bool" value="true"/>    <!-- 里程计使能 -->
        <param name="imuEnable"   type="bool" value="true"/>    <!-- imu使能 -->
    </node>

    <!-- 发布机器人静态坐标 -->
    <node pkg="sebot_robot" type="sebot_transform" name="sebot_transform" respawn="true"/>

    <!-- 启动融合里程计 -->
    <include file = "$(find robot_pose_ekf)/launch/robot_pose_ekf.launch"/>

    <!-- 启动激光雷达 -->
    <include file = "$(find rplidar_ros)/launch/rplidar.launch" />

    <!-- 加载SLAM地图 -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find sebot_navigation)/map/map.yaml" respawn="true">
     <param name="map" value="/map"/>
    </node>

    <!-- 启动蒙特卡洛定位算法 -->
    <include file="$(find sebot_navigation)/param/amcl.xml"/>

    <!-- 启动move_base路径规划 -->
    <include file = "$(find sebot_navigation)/param/move_base.xml" />

    <!-- 启动仿真监控界面 -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find sebot_navigation)/rviz/navigation.rviz"/>

    <!-- 启动多点导航 -->
    <node pkg="sebot_navigation" type="multinavi" name="multinavi" output="screen">
        <!-- 是否发布传感器话题 value：true发布 false不发布 -->
        <param name="waitTime"   type="int"     value="10"/>           <!-- 导航等待时间 -->
        <param name="overTime"   type="int"     value="15"/>           <!-- 导航超时时间 -->
    </node>
</launch>
